---
import Base from "../layouts/Base.astro";
---

<Base title="About — Anton">
    <h1>About</h1>
    <p>
        My name is Anton, I like to do stuff.
    </p>
    <h2>Skills & Tools</h2>
    <ul>
        <li>HTML, CSS (vanilla), JS/TS</li>
        <li>Astro, Vite</li>
        <li>p5.js / GSAP (basics)</li>
        <li>Git & GitHub Flow</li>
    </ul>
</Base>
